<head>
    {% if page.hero %}
        <meta property="og:image" content="{{ page.hero }}" />
    {% else %}
    <meta property="og:image" content="https://gravatar.com/avatar/3b7898bd27b4e323233d647c63e4d87e?size=150" />
    {% endif %}

    <link href="/favicon.png" rel="icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet" rel="preconnect">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/monokai.css" rel="stylesheet">

    {% seo %}
</head>
